@font-face{
    font-family: roboto;
    src:url(/practice/assets/Roboto/Roboto-Italic.ttf);
    font-weight: 900;
}
// .extend1{
//     font-family: roboto;
// }

@font-face {
    font-family: roboto;
    src:url(/practice/assets/Roboto/Roboto-Thin.ttf);
    font-weight: 500;
}

// .extend2{
//     font-family: robotoItalic;
// }