@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 100px;
    /* background-image: url(/boostrap/images.jpg); */
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100% ;
}
.img-fluid{
    text-decoration: none;
    outline: none;
}